@CHARSET "ISO-8859-1";

.btn-login{
  padding: 8px 43px;
  background: #F85A16 !important;
  color: #fff;
  border: none !important;
  font-size: 18px;
  border-radius: 30px;
}

.login .modal-content{
	border-radius:4px;
}
.login .modal-header {
    background: #F85A16;
    border-radius: 4px;
	
}
.login .modal-header .close {
	padding: 0;
	margin: 0;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.services{
	margin-top: 2rem;
	border-top: 2px solid #7b300f;
	height: 400px;
}

#formularioInscripcion{
	margin: 2rem;
}

span.time {
    display: inline-block;
    padding: 5px 12px;
    background: #F85A16;
    color: #fff;
    font-size: 13px;
}

.fh5co-blog .blog-text {
   margin-top: -2em !important;
}

.fh5co-blog a img {
    width: 73%;
}

.fh5co-blog .blog-text {
   	min-height: 333px !important;
    box-shadow: 9px 10px 20px -10px rgb(248, 91, 23) !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f85a16 !important;
    border-color: #f85a16 !important;
}

.login{
	padding: 20px;
    background: #f85a16;
    margin: 12px;
    z-index: 1000;
}

.form-login button {
    padding: 5px 10px;
    color: #000;
    border: none;
    background: none;
}

.form-login input{
	background: #ffffff;
    border: none;
    margin: 10px;
    padding: 1px;
    font-size: 15px;
}

.contenedor-fltros {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #e4eaec;
}